main {
  border: 2px solid green;
  height: 500px;
}
.flex-container {
  margin: auto;
  border: 2px dashed purple;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > div {
  border: 1px solid red;
  background-color: pink;
  color: blue;
  font-size: 30px;
  padding: 30px;
  margin: 20px;
}
